<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="jumbotron bg-dark">
            
        <h2 class="text-success"><center><b>CREATE NEW MARK LIST</b></center></h2>
        
    <div class="container">
        
	
        <br>
    <form method="POST" action="/result">
        
            <br>
            <br>
    <div class="row">
        <br>
        <div class="col-sm-6">
                <p style="color:white;"> NAME </p>
        </div>
        <div class="col-sm-6">
            <input name="name" class="form-control" type="text" placeholder="Name"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
                <p style="color:white;">REG NO.</p>
        </div>
        <div class="col-sm-6">
                <input name="reg" class="form-control" type="text" placeholder="Register number"/>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-6">
                    <p style="color:white;"> SEM</p>
            </div>
            <div class="col-sm-6">
                    <input name="sem" class="form-control" type="text" placeholder="Semester"/>
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-sm-6">
                        <p style="color:white;">COLLEGE</p>
                </div>
                <div class="col-sm-6">
                        <input name="clg" class="form-control" type="text" placeholder="College"/>
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="col-sm-6">
                            <p style="color:white;">SUB 1 NAME</p>
                    </div>
                    <div class="col-sm-6">
                            <input name="sub1" class="form-control" type="text" placeholder="First Subjecct Name"/>
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-sm-6">
                                <p style="color:white;"> SUB 1 MARK</p>
                        </div>
                        <div class="col-sm-6">
                                <input name="sub1m" class="form-control" type="number" placeholder="First Subjecct Mark"/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col-sm-6">
                                    <p style="color:white;">SUB 1 TOTAL MARK</p>
                            </div>
                            <div class="col-sm-6">
                                    <input name="sub1tm" class="form-control"  type="number" placeholder="First Subjecct Total Mark"/>
                            </div>
                        </div>
                        <br>
                    <div class="row">
                            <div class="col-sm-6">
                                    <p style="color:white;"> SUB 2 NAME</p>
                            </div>
                            <div class="col-sm-6">
                                    <input name="sub2" class="form-control"  type="text" placeholder="Second Subjecct Name"/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-sm-6">
                                        <p style="color:white;"> SUB 2 MARK</p>
                                </div>
                                <div class="col-sm-6">
                                        <input name="sub2m" class="form-control"  type="number" placeholder="Second Subjecct Mark"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                    <div class="col-sm-6">
                                            <p style="color:white;">SUB 2 TOTAL MARK</p>
                                    </div>
                                    <div class="col-sm-6">
                                            <input name="sub2tm" class="form-control" type="number" placeholder="Second Subject Total Mark"/>
                                    </div>
                                </div>
                                <br>
                            <div class="row">
                                    <div class="col-sm-6">
                                            <p style="color:white;">SUB 3 NAME</p>
                                    </div>
                                    <div class="col-sm-6">
                                            <input name="sub3" class="form-control"  type="text" placeholder="Third Subject name"/>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col-sm-6">
                                                <p style="color:white;">   SUB 3 MARK</p>
                                        </div>
                                        <div class="col-sm-6">
                                                <input name="sub3m" class="form-control"  type="number" placeholder="Third Subject Mark"/>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                    <p style="color:white;"> SUB 3 TOTAL MARK</p>
                                            </div>
                                            <div class="col-sm-6">
                                                    <input name="sub3tm" class="form-control"  type="number" placeholder="Third Subject Total Mark"/>
                                            </div>
                                        </div>
                                        <br>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                    <p style="color:white;">SUB 4 NAME</p>
                                            </div>
                                            <div class="col-sm-6">
                                                    <input name="sub4" class="form-control"  type="text" placeholder="Fourth Subject Name"/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-sm-6">
                                                        <p style="color:white;"> SUB 4 MARK</p>
                                                </div>
                                                <div class="col-sm-6">
                                                        <input name="sub4m" class="form-control"  type="number" placeholder="Fourth Subject Mark"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-sm-6">
                                                            <p style="color:white;">SUB 4 TOTAL MARK</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                            <input name="sub4tm" class="form-control"  type="number" placeholder="Fourth Subject Total Mark"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                        <div class="col-sm-4">
                                                           
                                                        </div>
                                                        <div class="col-sm-4">
                                                               <button class="btn btn-success" type="submit">
                                                                    Generate Marklist
                                                               </button>
                                                        </div>
                                                        <br>

                                                    </div>
                                                    <br>
                                                    <br>
                                                </form>

                                                
    
</div>
    <div>
</body>
</html>
